.tablePerDay {
    width: 100%;
    border-collapse: collapse;
}

.tablePerDay th, .tablePerDay td {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tablePerDay th {
    background-color: #8ADAB2;
}